# EditorConfig utama untuk proyek
root = true

# Berlaku untuk semua file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off

# Aturan spesifik untuk file Markdown
[*.md]
trim_trailing_whitespace = false

# Aturan spesifik untuk file JavaScript/TypeScript
[*.{js,ts}]
quote_type = single
indent_size = 4